#app-mount .layer-3QrUeG[aria-label*=SETTINGS] #bd-settingspane-container .contentColumnDefault-1VQkGM {
  padding: 0;
  > h2 {
    padding: var(--spacing);
    border-bottom: 1px solid var(--border-colour);
    width: 100%;
    font-size: var(--font-size-xl);
    color: var(--text-default);
    margin-bottom: 0;
  }
  > button {
    position: absolute;
    right: var(--spacing);
    top: 7px;
    @include smallBtn;
    &.bd-updatebtn {
      right: 138px;
    }
  }
  .bda-slist li {
    margin: 0;
    border-radius: 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--border-colour);
    &:last-child {
      border-bottom: none;
    }
  }
}